.board-of-vacancies {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.board {
    width: 100%;;
    max-width: 950px;
    justify-items: center;
}

.board__loader {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 950px;
    max-height: 550px;

    width: 100%;
    height: 100%;
}

.loader-wrapper {
    display: grid;
    justify-items: center;
    min-height: 550px;
    align-items: center;
}