.exitCV {
    width: 92.51px;
    height: 29.33px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 23.4667px;
    line-height: 29px;

    color: #535353;

}

.glavCV {
    margin-top: 1%;
    display: flex;
    justify-content:center;
    gap: 30px;
}

.card_Cv{
    display: grid;
    
}

.people_card {
    background-color: #FFFFFF;
    width: 799px;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 8px;
    
    
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 29px;
}

.people_card_h1 {
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    
    margin: 0;
    margin-left: 45px;
    padding-left: 14px;
    padding-top: 0px;

    color: #000000;
    border-left:  #88EAFF 4px solid;
}

.people_card_h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    margin-left: 65px;
    margin-top: -15px;

    color: #000000;

}

.people_card_h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    margin-left: 47px;
    margin-top: 65px;

    color: #000000;
}

.people_people_vacancy {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    margin-left: 47px;
    margin-top: -25px;
    font-weight: bold;

    color: #000000;
}

.vacancy_time_data {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-left: 605px;
    margin-top: -55px;


    color: #797979;

}

.vacancy_data {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-left: 650px;
    margin-top: -40px;


    color: #797979;
}


.people_card_span {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

.people_card_p {
    margin-top: 32px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.CVcard {
    background-color: #FFFFFF;
    width: 799px;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 35px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 29px;
}

.CVPang_h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    margin-top: 25px;
    margin-left: 45px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 0;

    color: #000000;
    border-left: #88EAFF 4px solid;
}

.CVcard_h3 {
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-left: 50px;
    margin-top: 20px;

    color: #000000;
}

.CVcard_p1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-left: 160px;
    margin-top: -42px;

    color: #000000;

}

.CVcard_p2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-left: 250px;
    margin-top: -42px;

    color: #000000;

}

.CVcard_p3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-left: 100px;
    margin-top: -42px;

    color: #000000;

}

.CVcard_p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-left: 45px;
    margin-top: 13px;
    margin-right: 45px;

    color: #000000;
    white-space: pre-wrap;

}

.CVcard_p4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    margin-left: 50px;
    margin-top: -5px;


    color: #000000;

}

.CVcard_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: 50px;
    margin-top: -10px;


    color: #000000;

}

.h1_p1 {
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;

    color: #000000;
}

.h2_p2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
    margin-top: -10px;

    color: #000000;

}

.h3_p3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
    margin-top: -10px;

    color: #000000;

}

.h1_pp {
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: -10px;

    color: #000000;
}

.h3_pp1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: -10px;

    color: #000000;

}

.h2_p22 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: -10px;

    color: #000000;
}

.vacancy_time_data2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-left: 35px;
    margin-top: 47px;


    color: #797979;

}

.vacancy_data2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-left: 290px;
    margin-top: -40px;


    color: #797979;
}

.vacancy_time2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-left: 240px;
    margin-top: -22px;


    color: #797979;
}

.photo_card_div{
    background-color: #FFFFFF;
    width: 442px;
    justify-content: center;
    margin-top: 39.2px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 29.25px;
    height: fit-content;
    padding-bottom: 50px;
}

.fio_CVpan2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-left: 70px;
    margin-top: 9px;

    color: #000000;

}

.jobs {
    margin-left: 58px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}