.card-avatar {
    width: 125px;
    height: 125px;

    margin-top: 23px;
    margin-right: 31px;
    margin-bottom: 72px;

    border-radius: 89.2857px;
}

.card-name {
    font-weight: 500;
    font-size: 24px;

    margin-top: 0;
    padding-left: 35px;
    margin-bottom: 0;
}

.card-age {
    font-weight: 400;
}

.second-half-CV {
    display: flex;
    justify-content:space-between;
}

.skills, .skills-2 {
    margin-top: 0;
    display: flex;
    list-style: none;
    padding-right: 31px;
    gap: 10px;
}

.skills-2 {
    margin-top: 10px;
    margin-left: 20px;
}

.skills > li {
    font-weight: 500;
    font-size: 14.8863px;

    vertical-align: middle;

    padding: 10px;
    background: #88EAFF;
    box-shadow: 0px 5.28571px 39.6429px rgba(0, 0, 0, 0.1);
    border-radius: 9.30394px;
}

.skill-ver-2 {
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14.8863px;

    vertical-align: middle;

    padding: 10px;
    border: 1.33871px solid #000000;
    filter: drop-shadow(0px 5.35484px 40.1613px rgba(0, 0, 0, 0.1));
    border-radius: 9.42561px;
}

.cv-response-indent {
    margin-bottom: 0;
}

.cv-response-button-size {
    display: flex;
    justify-content: center;
    width: 190px;
    height: 56px;
    font-weight: 500;
    font-size: 20px;
}

.cv-response-buttons {
    display: flex;
    padding-right: 31px;
}

.cv-response-age-size {
    font-weight: 300;
    font-size: 24px;
}
