.filters-panel {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    max-width: 320px;
    width: 100%;

    padding: 30px 40px 50px;


    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.filters-panel > h3 {
    margin: 0;

    font-weight: 600;
    font-size: 24px;
}

.filters-panel > h4 {
    margin: 0;
    margin-top: 30px;

    font-weight: 500;
    font-size: 20px;

    padding-left: 10px;
    border-left: #88EAFF 5px solid;
}

.filter-list > li {
    margin: 0;

    font-weight: 400;
    font-size: 16px;

    padding-top: 7px;
    list-style-image: url(/src/components/images/circle-1.svg);
    cursor: pointer;
}

.filter-list > li:hover {
    color: #797979;
}

.filter-list > li.filter-active {
    list-style-image: url(/src/components/images/circle-2.svg);
}

ul {
    margin: 0;
    margin-top: 10px;
}