body {
    box-sizing: border-box;
    margin: 0 0;
    background-color: #F9FBFE;
    font-family: 'Montserrat';
    color: #000000;

    zoom: 0.75;
}

a:-webkit-any-link {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

.page {
    margin-top: 135px;
}

button {
    cursor: pointer;
    /* padding: 0; */
}

/* button,
input {
    background: none;
    outline: none;
    color: inherit;
    font: inherit;
} */

/* ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
} */
/* 
p {
    margin: 0;
} */

/* a {
    text-decoration: none;
    color: inherit;
} */

/* h1,
h2,
h3,
h4 {
    margin: 0;
} */