body {
    box-sizing: border-box;
    margin: 0 0;
    background-color: #F9FBFE;
    font-family: 'Montserrat';
    color: #000000;

    zoom: 0.75;
}

a:-webkit-any-link {
    color: #000000;
    cursor: pointer;
    text-decoration:none;
}

.page {
    margin-top: 135px;
}