.search-form {
    display: flex;
    width: 100%;
    height: 60px;

    margin-bottom: 45px;
}

.search-form > input {
    width: 100%;

    font-weight: 300;
    font-size: 24px;
    padding-left: 30px;

    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 0px; 
}

.search-form > input::placeholder {
    color: #797979;
    background: url('../components/images/lupa.svg') no-repeat scroll 80px 4px;   
}

.search-form > input:focus {
    outline: 0;
}

.search-button {
    min-width: 210px;
    
    background: #88EAFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 0px;

    font-weight: 500;
    font-size: 24px;

    margin-left: 40px;

    cursor: pointer;
}

.search-button:hover {
    background-color: aqua;
    transition: all .1s ease;
    transform: scale(1.02);
}
